body {
  background: #ddffff;
}

canvas {
  display: block;
  margin: auto;
  margin-top: 20px;
}

button {
  background: #d2b48c;
  padding: 10px 15px 15px 10px;
  font: bold 20px Times New Roman;
  color: white;
  display: block;
  margin: auto;
  position: relative;
  left: 100px;
}

div {
  margin: auto;
  margin-top: 20px;
  text-align: left;
  position: relative;
  right: 40px;
  font: 20px Times New Roman;
  max-width: 420px;

}
